.personal-deets-cont {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 12px 0px #0000000D;
}

.personal-deets-header {
  display: flex;
  padding: 22px 27px;
  gap: 10px;
}

.personal-deets-header-img {
  object-fit: contain;
}

.h3-title {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.tool-bar {
  display: flex;
  padding: 22px 27px;
}

.search-bar {
  all: unset;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding: 16px 20px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12.91px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #757575;
  background-color: #F8F8F8;
  width: calc(70% - 40px);
}

.dropdown-bar {
  all: unset;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px 20px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12.91px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #757575;
  background-color: #F8F8F8;
  width: calc(10% - 40px);
}

.status-bar {
  all: unset;
  padding: 16px 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12.91px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  background-color: #F8F8F8;
  width: calc(10% - 40px);
  margin-left: 16px;
}

.add-candidate {
  all: unset;
  padding: 16px 20px;
  border-radius: 8px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12.91px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
  background-color: #146755;
  width: calc(10% - 40px);
  margin-left: -8px;
}

.all-users-table {
  width: 100%;
}

.all-users-table th {
  background-color: #F8F8F8;
  overflow: hidden;
  color: var(--Neutral-700, #323B49);
  text-overflow: ellipsis;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  height: 48px;
  padding: 0 20px;
}

.all-users-table td {
  height: 48px;
  padding: 0 32px;
    text-overflow: ellipsis;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.all-users-table-btn {
  color: #9A2B60;
}
