.footer-cont {
    width: 100%;
    max-width: 100%;
    background-color: #106552;
    padding: 60px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
}

.footer-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.top {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    justify-content: space-between;
}

.pcs {
    width: 100%;
    max-width: 409px;
    margin-right: 0;
    flex: 1 1 300px;
}

.abt-img {
    margin-bottom: 25px;
}

.abt-pcs {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.email {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: white;
    margin-bottom: 12px;
}

.phone-num {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 12px;
}

.address {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 25px;
}

.get-in-touch {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #9A2B60;
    margin-bottom: 45px;
    transition: all 0.3s ease-in-out;
}

.get-in-touch:hover {
    scale: 1.05;
    cursor: pointer;
    box-shadow: 0 0 15px #9A2B60;
    transition: all 0.3s ease-in-out;
}

.socials {
    display: flex;
    gap: 15px;
}

.facebook {
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff12;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.facebook:hover {
    box-shadow: 0 0 15px #ffffff3b;
}

.instagram {
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff12;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.instagram:hover {
    box-shadow: 0 0 15px #ffffff3b;
}

.linkedin {
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff12;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.linkedin:hover {
    box-shadow: 0 0 15px #ffffff3b;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    min-width: 140px;
    margin: 10px 0;
}

.catalog-title {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 5px;
}

.nav-link-footer {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-link-footer:hover {
    scale: 1.05;
    cursor: pointer;
}

.servicess {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    min-width: 140px;
    margin: 10px 0;
}

.service-title {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 16px;
}

.resources {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    min-width: 140px;
    margin: 10px 0;
}

.resources-title {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 16px;
}

.accepted-payments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    min-width: 140px;
    margin: 10px 0;
}

.accepted-payments-title {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 16px;
}

.bottom {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom p {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: #9ec7bd;
    margin: 0;
    padding: 0 20px;
}